
# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Reports
/reports/

# TypeScript
*.tsbuildinfo
dist/
out/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
*.swp
*.swo

# IDE
.idea/
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
